<md-tabs md-dynamic-height md-border-bottom>
  
      <md-tab label="Projects">
      	<md-content class="md-padding" ng-controller="AdminProjectManagerCtrl">          
        	<h3 class="md-title inset-2">Registered projects</h3>
          
          	<section style="max-width: 70%; margin: auto;">
	          	<md-card>
					<md-card-content>
						<div layout="row" layout-sm="column" layout-align="space-around" ng-show="loading">
	    					<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	  					</div>
	  					
	  					<p class="centered font-size-3 color-1" ng-if="projects.length === 0">No items to show.</p>
	  					
						<md-list class="md-dense" ng-repeat="projectGroup in projects | groupBy:'groupName':'projectsByGroup'" ng-cloak> 
						<p class="font-size-4 uppercase color-2" style="margin-bottom: 5px;">{{projectGroup.groupName}}</p>
						<md-list-item class="md-2-line secondary-button-padding" ng-repeat="item in projectGroup.items">
						    <div class="md-list-item-text" layout="column">
								<p><a ui-sref="projectDetail({idProject: item.idProject})" class="font-size-4 custom-anchor-1">{{item.name}}</a></p>
					            <h4>{{item.membersCount}} {{item.membersCount > 1 ? "members" : "member"}}</h4>
					        </div> 
						     					    
						    <md-menu class="md-secondary">
						      <md-button aria-label="More" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
						        <md-icon md-font-set="material-icons">more_vert</md-icon>
						      </md-button>
						      <md-menu-content width="2">
						        <md-menu-item>
						          <md-button ng-click="deleteProject(item.idProject, $index)">					         
						          	Delete project
						          </md-button>
						        </md-menu-item>		       
						      </md-menu-content>
						    </md-menu> 
						     
						    <md-divider hide-sm ng-if="!$last"></md-divider>
							<md-divider hide-gt-sm ng-if="!$last"></md-divider>
						</md-list-item>
						</md-list>							
	            	</md-card-content>
				</md-card>
			</section>
			
        </md-content>
      </md-tab>
      
      <md-tab label="Replications">
      	<md-content class="md-padding" ng-controller="AdminReplicationManagerCtrl">
          
        	<h3 class="md-title inset-2">Upcoming workshops</h3>
          
          	<section style="max-width: 70%; margin: auto;">
	          	<md-card>
					<md-card-content>
						<div layout="row" layout-sm="column" layout-align="space-around" ng-show="loading">
	    					<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	  					</div>
	  					
	  					<p class="centered font-size-3 color-1" ng-if="workshops.length === 0">No items to show.</p>
	  					
						<md-list class="md-dense" ng-cloak> 
						<md-list-item class="md-2-line secondary-button-padding" ng-repeat="item in workshops">
						    <div class="md-list-item-text" layout="column">
					            <h3><a ui-sref="workshopDetail({idWorkshop: item.idWorkshop})" class="font-size-4 custom-anchor-1">{{item.projectName}}: Workshop Replication {{item.replicationNumber}}</a></h3>
					            <h4>{{item.dateTime}} hrs. ~ {{item.membersCount}} {{item.membersCount > 1 ? "members" : "member"}} organizing</h4>
					            <p>{{item.isPaid ? item.price + " " + item.currency : "FREE"}}</p>
					        </div>
						     					    
						    <md-menu class="md-secondary">
						      <md-button aria-label="More" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
						        <md-icon md-font-set="material-icons">more_vert</md-icon>
						      </md-button>
						      <md-menu-content width="2">
						        <md-menu-item>
						          <md-button ng-click="deleteWorkshop(item.idWorkshop, $index)">					         
						          	Delete workshop
						          </md-button>
						        </md-menu-item>		       
						      </md-menu-content>
						    </md-menu> 
						     
						    <md-divider hide-sm ng-if="!$last"></md-divider>
							<md-divider hide-gt-sm ng-if="!$last"></md-divider>
						</md-list-item>
						</md-list>							
	                 </md-card-content>
				</md-card>
			</section>
			
        </md-content>
      </md-tab>
      
      <md-tab label="Fabbers">
      	<md-content class="md-padding">
          
        	<h3 class="md-title inset-2">Registered fabbers</h3>
          
          	<section style="max-width: 70%; margin: auto;">
	          	<md-card>
					<md-card-content>
						TO DO...
							
	                 </md-card-content>
				</md-card>
			</section>
			
        </md-content>
      </md-tab>
      
      <md-tab label="Labs">
      	<md-content class="md-padding" ng-controller="AdminLabManagerCtrl">
          
        	<h3 class="md-title inset-2">Registered labs</h3>
          
          	<section style="max-width: 70%; margin: auto;">
	          	<md-card>
					<md-card-content>
						<md-button class="md-raised" ng-click="updateLabs()">
							Update Labs data from fablabs.io
						</md-button>
						
						<div layout="row" layout-sm="column" layout-align="space-around" ng-show="loading1">
	    					<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	  					</div>
	  					
	  					<div layout="row" layout-sm="column" layout-align="space-around" ng-show="loading">
	    					<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	  					</div>
	  					
	  					<p class="color-1 font-size-3" ng-show="!loading1"><em>Note: Data fetched from fablabs.io</em></p>
	  					
	  					<p class="centered font-size-3 color-1" ng-if="labs.length === 0">No items to show.</p>
	  					
						<md-list class="md-dense" ng-repeat="itemCountry in labs | groupBy:'country':'labsByCountry'" ng-cloak> 
						<p class="font-size-4 uppercase color-2" style="margin-bottom: 5px;">{{itemCountry.country}}</p>
						<md-list-item class="md-2-line secondary-button-padding" ng-repeat="item in itemCountry.items">
						    <div class="md-list-item-text" layout="column">
								<p><a ui-sref="labDetail({idLab: item.idLab})" class="font-size-4 custom-anchor-1">{{item.name}}</a></p>
					            <h4>{{item.address1 + ", " + item.city}}</h4>
					        </div>
					        					    
						    <!-- <md-menu class="md-secondary">
						      <md-button aria-label="More" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
						        <md-icon md-font-set="material-icons">more_vert</md-icon>
						      </md-button>
						      <md-menu-content width="4">
						        <md-menu-item>
						          <md-button ng-click="leaveGroup($event, item.idGroup, $index)">					         
						            Leave group
						          </md-button>
						        </md-menu-item>
						        <md-menu-item>
						          <md-button ng-click="toggleNotifications(item.idGroup, $index)">
						            {{item.notificationsEnabled ? 'Disable' : 'Enable' }} notifications
						          </md-button>
						        </md-menu-item>
						      </md-menu-content>
						    </md-menu> -->
						     
						    <md-divider hide-sm ng-if="!$last"></md-divider>
							<md-divider hide-gt-sm ng-if="!$last"></md-divider>
						</md-list-item>
						</md-list> 							
	            	</md-card-content>
				</md-card>
			</section>
			
        </md-content>
      </md-tab>

</md-tabs>