<div flex class="md-padding" ng-controller="DashboardGeneralActivityCtrl">
	<div layout="column" flex ng-if="activities">
		<div class="generic-container-1">
			<div>
				<md-list class="list-activities" dense flex>
					<md-list-item class="md-2-line" ng-repeat="item in activities">
			          <div layout="row" class="md-list-item-text compact" ng-if="item.level === 'GROUP' && item.type === 'ORIGIN'">
			            <user-avatar ng-init="fabber = { idFabber: item.fabberId, firstName: item.fabberFirstName, lastName: item.fabberLastName }" fabber="fabber" avatar-w="38" avatar-h="38" avatar-font-size="18"></user-avatar>
			            <div>
			            	<h3>
				            	<a ui-sref="fabber.groups({ idFabber: item.fabberId })" class="custom-anchor-1 bold">
									{{ item.fabberFirstName + " " + item.fabberLastName }}
								</a>
				            	created the group 
				            	<a ui-sref="group.general({ idGroup: item.groupId })" class="custom-anchor-1 bold">
				            		{{ item.groupName }}
				            	</a>
			            	</h3>
			            	<p><span am-time-ago="item.creationDateTime | UTCToNow"></span></p>
			            </div>
			          </div>
			          <div layout="row" class="md-list-item-text compact" ng-if="item.level === 'SUBGROUP' && item.type === 'ORIGIN'">
			            <user-avatar ng-init="fabber = { idFabber: item.fabberId, firstName: item.fabberFirstName, lastName: item.fabberLastName }" fabber="fabber" avatar-w="38" avatar-h="38" avatar-font-size="18"></user-avatar>
			            <div>
				            <h3>
				            	<a ui-sref="fabber.groups({ idFabber: item.fabberId })" class="custom-anchor-1 bold">
									{{ item.fabberFirstName + " " + item.fabberLastName }}
								</a>
				            	created the subgroup 
				            	<a ui-sref="subgroup.general({ idSubgroup: item.subGroupId })" class="custom-anchor-1 bold">
				            		{{ item.groupName }} > {{ item.subGroupName }}
				            	</a>
				            </h3>
				            <p><span am-time-ago="item.creationDateTime | UTCToNow"></span></p>
			            </div>
			          </div>
			        </md-list-item>
		        </md-list>
			</div>
		</div>
	</div>
</div>