<md-tabs md-dynamic-height md-border-bottom>
      
      <md-tab label="All">
      	<md-content class="md-padding" ng-controller="EventManagerCtrl">
          
        	<h3 class="md-title inset-2">Upcoming workshops</h3>
          
          	<section style="max-width: 70%; margin: auto;">
	          	<md-card>
					<md-card-content>
						<div layout="row" layout-sm="column" layout-align="space-around" ng-show="loading">
	    					<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	  					</div>
	  					
	  					<p class="centered font-size-3 color-1" ng-if="workshops.length === 0">No items to show.</p>
	  					
						<md-list class="md-dense" ng-cloak> 
						<md-list-item class="md-3-line secondary-button-padding" ng-repeat="item in workshops">
							<div class="md-list-item-text" layout="column">
					            <h3><a ui-sref="workshopDetail({idWorkshop: item.idWorkshop})" class="font-size-4 custom-anchor-1">{{item.projectName}}: Workshop Replication {{item.replicationNumber}}</a></h3>
					            <h4>{{item.dateTime}} hrs. ~ {{item.membersCount}} {{item.membersCount > 1 ? "members" : "member"}} organizing</h4>
					            <p>{{item.isPaid ? item.price + " " + item.currency : "FREE"}}</p>
					        </div>
						     					    
						    <md-menu class="md-secondary">
						      <md-button aria-label="Open settings interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
						        <md-icon md-font-set="material-icons">settings</md-icon>
						      </md-button>
						      <md-menu-content width="2">
						        <md-menu-item>
						          <md-button ng-click="leaveWorkshop($event, item.idWorkshop, $index)">					         
						            Leave workshop
						          </md-button>
						        </md-menu-item>
						        <md-menu-item>
						          <md-button ng-click="toggleNotifications(item.idWorkshop, $index)">
						            {{item.notificationsEnabled ? 'Disable' : 'Enable' }} notifications
						          </md-button>
						        </md-menu-item>			       
						      </md-menu-content>
						    </md-menu> 
						     
						    <md-divider hide-sm ng-if="!$last"></md-divider>
							<md-divider hide-gt-sm ng-if="!$last"></md-divider>
						</md-list-item>
						</md-list>		
	                 </md-card-content>
				</md-card>
			</section>
			
			<h3 class="md-title inset-2">Upcoming events</h3>
          
          	<section style="max-width: 70%; margin: auto;">
	          	<md-card>
					<md-card-content>
						
						
						
						
	                 </md-card-content>
				</md-card>
			</section>
        </md-content>
      </md-tab>
      
      <md-tab label="Your replications">
      	<md-content class="md-padding" ng-controller="YourReplicationsCtrl">
          
        	<h3 class="md-title inset-2">Your workshops</h3>
          
          	<section style="max-width: 70%; margin: auto;">
	          	<md-card>
					<md-card-content>
						<div layout="row" layout-sm="column" layout-align="space-around" ng-show="loading1">
	    					<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	  					</div>
	  					
	  					<p class="centered font-size-3 color-1" ng-if="workshops.length === 0">No items to show.</p>
	  					
						<md-list class="md-dense" ng-cloak> 
							<md-list-item class="md-3-line secondary-button-padding" ng-repeat="item in workshops">
								<div class="md-list-item-text" layout="column">
						            <h3><a ui-sref="workshopDetail({idWorkshop: item.idWorkshop})" class="font-size-4 custom-anchor-1">{{item.projectName}}: Workshop Replication {{item.replicationNumber}}</a></h3>
						            <h4>{{item.dateTime}} hrs. ~ {{item.membersCount}} {{item.membersCount > 1 ? "members" : "member"}} organizing</h4>
						            <p>{{item.isPaid ? item.price + " " + item.currency : "FREE"}}</p>
					       		 </div>							    
 					    
							    <md-menu class="md-secondary">
							      <md-button aria-label="Open settings interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
							        <md-icon md-font-set="material-icons">settings</md-icon>
							      </md-button>
							      <md-menu-content width="2">
							        <md-menu-item>
							          <md-button ng-click="leaveWorkshop($event, item.idWorkshop, $index)">					         
							            Leave workshop
							          </md-button>
							        </md-menu-item>
							        <md-menu-item>
							          <md-button ng-click="toggleNotifications(item.idWorkshop, $index)">
							            {{item.notificationsEnabled ? 'Disable' : 'Enable' }} notifications
							          </md-button>
							        </md-menu-item>			       
							      </md-menu-content>
							    </md-menu> 						     
							</md-list-item>
						</md-list>					
	                 </md-card-content>
				</md-card>
			</section>
			
			<!-- <h3 class="md-title inset-2">Your events</h3>
          
          	<section style="max-width: 70%; margin: auto;">
	          	<md-card>
					<md-card-content>
						
						
						
						
	                 </md-card-content>
				</md-card>
			</section> -->
        </md-content>
      </md-tab>
      
      <md-tab label="Past">
      	<md-content class="md-padding" ng-controller="YourPastEventsCtrl">
        	
        	<h3 class="md-title inset-2">Past workshops</h3>
        
       		<section style="max-width: 70%; margin: auto;">
	        	<md-card>
					<md-card-content>					
						<div layout="row" layout-sm="column" layout-align="space-around" ng-show="loading1">
	    					<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	  					</div>
	  					
	  					<p class="centered font-size-3 color-1" ng-if="workshops.length === 0">No items to show.</p>
	  					
						<md-list class="md-dense" ng-cloak> 
							<md-list-item class="md-3-line secondary-button-padding" ng-repeat="item in workshops">
								<div class="md-list-item-text" layout="column">
						            <h3><a ui-sref="workshopDetail({idWorkshop: item.idWorkshop})" class="font-size-4 custom-anchor-1">{{item.projectName}}: Workshop Replication {{item.replicationNumber}}</a></h3>
						            <h4>{{item.dateTime}} hrs. ~ {{item.membersCount}} {{item.membersCount > 1 ? "members" : "member"}} organizing</h4>
						            <p>{{item.isPaid ? item.price + " " + item.currency : "FREE"}}</p>
					       		 </div>							    
 					    
							    <md-menu class="md-secondary">
							      <md-button aria-label="Open settings interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
							        <md-icon md-font-set="material-icons">settings</md-icon>
							      </md-button>
							      <md-menu-content width="2">
							        <md-menu-item>
							          <md-button ng-click="leaveWorkshop($event, item.idWorkshop, $index)">					         
							            Leave workshop
							          </md-button>
							        </md-menu-item>
							        <md-menu-item>
							          <md-button ng-click="toggleNotifications(item.idWorkshop, $index)">
							            {{item.notificationsEnabled ? 'Disable' : 'Enable' }} notifications
							          </md-button>
							        </md-menu-item>			       
							      </md-menu-content>
							    </md-menu> 						     
							</md-list-item>
						</md-list>				
	                 </md-card-content>
				</md-card> 
			</section>       
			
			<!-- <h3 class="md-title inset-2">Past events</h3>
        
       		<section style="max-width: 70%; margin: auto;">
	        	<md-card>
					<md-card-content>					
						<div layout="row" layout-sm="column" layout-align="space-around" ng-show="loading1">
	    					<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	  					</div>
	  					
						<md-list> 
							<md-list-item class="secondary-button-padding" ng-repeat="item in replications1">
							    <p><a ui-sref="replicationDetail({idReplication: item.idReplication})" class="font-size-4 custom-anchor-1">{{item.name}}</a> <span class="font-size-2 color-1">{{item.groupName}}</span></p>
							     					    
							    <md-menu class="md-secondary">
							      <md-button aria-label="Open settings interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
							        <md-icon md-font-set="material-icons">settings</md-icon>
							      </md-button>
							      <md-menu-content width="4">
							        <md-menu-item>
							          <md-button ng-click="leaveWorkshop($event, item.idWorkshop, $index)">					         
							            Leave replication
							          </md-button>
							        </md-menu-item>
							        <md-menu-item>
							          <md-button ng-click="toggleNotifications(item.idWorkshop, $index)">
							            {{item.notificationsEnabled ? 'Disable' : 'Enable' }} notifications
							          </md-button>
							        </md-menu-item>			       
							      </md-menu-content>
							    </md-menu>
							</md-list-item>
						</md-list>					
	                   </md-card-content>
				</md-card> 
			</section> -->      
        </md-content>
      </md-tab>
</md-tabs>