<div class="md-padding" layout="column" flex>
	<div class="generic-container-1">
		<div class="header md-subhead" layout="row" layout-align="none center">
			<div><span class="bold">Open BioFab</span> subgroups:</div>
		</div>
		<div>
			<md-list class="list-type-1" dense flex>
				<md-list-item class="md-2-line">
		          <div class="md-list-item-text compact">
		            <h3><a href="" class="custom-anchor-1 bold">Phagebot</a></h3>
		            <p> 6 members </p>
		          </div>
		          <md-button class="md-secondary md-icon-button" ng-click="doSecondaryAction($event)" aria-label="more">
		          	<md-icon md-font-set="material-icons" aria-label="More">more_vert</md-icon>
		          </md-button>
		        </md-list-item>
		        <md-divider></md-divider>
		        <md-list-item class="md-2-line">
		          <div class="md-list-item-text compact">
		            <h3> DIYbio lab kit </h3>
		            <p> 3 members </p>
		          </div>
		          <md-button class="md-secondary md-icon-button" ng-click="doSecondaryAction($event)" aria-label="more">
		          	<md-icon md-font-set="material-icons" aria-label="More">more_vert</md-icon>
		          </md-button>
		        </md-list-item>
	        </md-list>
		</div>
	</div>

</div>