<!DOCTYPE html>
<html ng-app="FabLatApp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1" />
	
	<title>Fab Lat</title>
	<meta name="description" content="">
	<meta property="fb:admins" content="1296933646" />
	<meta property="og:site_name" content="Fab Lat" />
	<meta property="og:title" content="Fab Lat" />
	<meta property="og:description" content="" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="css/angular-material-sidenav.css">
	<link rel="stylesheet" href="css/app.css">

</head>
<body layout="row" ng-cloak ng-controller="AppCtrl" ng-show="authenticated">

	<md-sidenav id="left-sidenav" md-whiteframe="3" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
		<header class="nav-header">
	    	<a ng-href="#/" class="logo">
	        	<img src="images/fab_logo.png" alt="" />
	        	<h1 class="md-headline">Fab Lat Network</h1>
	       </a>
	    </header>

    	<md-content flex role="navigation">    
       		<md-menu-content id="left-sidenav-menu" flex>
		        <md-menu-item>
		          <md-button ui-sref="dashboard" ui-sref-active="active">
		          	Dashboard
		          </md-button>
		        </md-menu-item>
		        <md-menu-item>
		          <md-button ui-sref="groups" ui-sref-active="active">
		          	Groups
		          </md-button>
		        </md-menu-item>
		        <md-menu-item>
		          <md-button ui-sref="workshops" ui-sref-active="active">
		          	Workshops
		          </md-button>
		        </md-menu-item>
		        <md-menu-item>
		          <md-button>
		          	General admin features
		          </md-button>
		        </md-menu-item>
		    </md-menu-content> 	
    	</md-content>
	</md-sidenav>

	<div layout="column" flex role="main">
		<md-toolbar md-whiteframe="2">
		    <div class="md-toolbar-tools">
		    	<md-button class="md-icon-button" aria-label="Menu Button" hide-gt-sm ng-click="toggleSidenav('left')">
		            <md-icon md-font-set="material-icons" aria-label="Menu">menu</md-icon>
		        </md-button>
		        <h2>Fab Lat</h2>
		        <span flex></span>			
				<md-menu md-offset="0 50" md-position-mode="target-right target" ng-if="user.firstName && user.lastName">
			    	<md-button aria-label="Open user avatar menu" class="md-icon-button" style="height: auto; width: auto;" ng-click="openMenu($mdOpenMenu, $event)">
			        	<user-avatar md-menu-origin fabber="user" avatar-w="38" avatar-h="38" avatar-font-size="18"></user-avatar>    	
			      	</md-button>
			      	<md-menu-content width="3">
				        <md-menu-item>
				        	<md-button ui-sref="settings.profile">
					            Settings
				          	</md-button>
				        </md-menu-item>
				        <md-menu-item>
				        	<md-button ng-click="logout()">
				            	Sign out
				          	</md-button>
				        </md-menu-item>
			    	</md-menu-content>
				</md-menu>
		    </div>
		</md-toolbar>
		
		<md-content flex ui-view class="main-content"></md-content>
	</div>
	
	
	<!-- <div layout="column" class="relative" layout-fill role="main">	      
	  <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdd($event)">
        <md-icon md-font-set="material-icons" aria-label="Add">add</md-icon>
      </md-button>
      <md-toolbar class="md-hue-2 animate-show md-whiteframe-z1" ng-show="!showSearch">
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
            <md-icon md-font-set="material-icons" aria-label="Menu">menu</md-icon>
          </md-button>
          <h3>
            Dashboard
          </h3>
          <span flex></span>
          <md-button class="md-icon-button" aria-label="Search" ng-click="toggleSearch()">
            <md-icon md-font-set="material-icons" aria-label="Search">search</md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Open Settings" ng-click="showListBottomSheet($event)">
            <md-icon md-font-set="material-icons" aria-label="More">more_vert</md-icon>
          </md-button>
        </div>
        <span flex></span>
        
      </md-toolbar>
		
		<md-toolbar md-theme="grey" ng-show="showSearch" class="md-hue-3 animate-show md-whiteframe-z1">
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" ng-click="toggleSearch()" aria-label="Menu">
            <md-icon md-font-set="material-icons" aria-label="Back">arrow_back</md-icon>
          </md-button>
          <h3 role="button" ng-click="toggleSearch()">
            Back
          </h3>
          <span flex="5"></span>
          <span ng-controller="DemoCtrl as ctrl" flex>
            <md-autocomplete md-theme="grey"
              md-input-name="autocompleteField"
              md-no-cache="ctrl.noCache"
              md-selected-item="ctrl.selectedItem"
              md-search-text="ctrl.searchText"
              md-items="item in ctrl.querySearch(ctrl.searchText)"
              md-item-text="item.display"
              placeholder="Search">
              <md-item-template>
                <span md-highlight-text="ctrl.searchText">{{item.display}}</span>
              </md-item-template>
              <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
                <div ng-message="required">You <b>must</b> have a favorite state.</div>
                <div ng-message="minlength">Your entry is not long enough.</div>
                <div ng-message="maxlength">Your entry is too long.</div>
              </div>
            </md-autocomplete>
          </span>
          
        </div>
      </md-toolbar>
        
    </div>-->

	<!-- Angular Material Dependencies -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.js"></script>
	<script src="https://cdn.jsdelivr.net/angular.ui-router/1.0.0-alpha0/angular-ui-router.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.js"></script>

	<script src="js/angular-material-sidenav.js"></script>
	<script src="js/ngGroup.js"></script>
	<script src="js/app.js"></script>
</body>
</html>