<md-dialog aria-label="New Workshop">
	<form name="workshopForm" ng-submit="submit()">
	    <md-toolbar>
	      <div class="md-toolbar-tools">
	        <h2>New Workshop</h2>
	        <span flex></span>
	        <md-button class="md-icon-button" ng-click="cancel()">
	        	<md-icon md-font-set="material-icons" aria-label="Close dialog">close</md-icon>
	        </md-button>
	      </div>
	    </md-toolbar>
	    
	    <md-dialog-content style="width:600px">
	      <div class="md-dialog-content">
			<p class="color-3">General</p>
			<div layout="row" style="padding-left: 10px; padding-right: 10px;"> 
				<md-input-container flex style="margin-bottom: 0;">
		            <label>Name</label>
		        	<input value="{{project.name}}: Workshop Replication {{project.workshopsNumber + 1}}" disabled>
		        </md-input-container>
			</div>
			<div style="padding-left: 15px; padding-right: 10px;"> 
				<span class="font-size-3">Date</span>
				<md-datepicker ng-model="workshop.date" md-placeholder="Enter date" style="background: inherit; margin-right: 15px;" required>
	          	</md-datepicker>
		        
	          	<span class="font-size-3">Time</span>
	          	<md-input-container>          
		            <md-select ng-model="workshop.time" aria-label="Select time" required>
		              <md-option ng-value="item" ng-repeat="item in ['0:00', '0.30', '1:00', '1:30', '2:00', '2:30', '3:00', '3:30', '4:00', '4:30', 
			              '5:00', '5:30', '6:00', '6:30', '7:00', '7:30', '8:00', '8:30', '9:00', '9:30', '10:00', '10:30', '11:00', '11:30', 
			              '12:00', '12:30', '13:00', '13:30', '14:00', '14:30', '15:00', '15:30', '16:00', '16:30', '17:00', '17:30', '18:00',
			              '18:30', '19:00', '19:30', '20:00', '20:30', '21:00', '21:30', '22:00', '22:30', '23:00', '23:30']">
		                {{item}}
		              </md-option>
		            </md-select>
		            <span class="font-size-2">Lima/Bogota/Quito, GMT-05:00</span>
		        </md-input-container>     
	     	</div>  
	     	<div layout="row" style="padding-left: 15px; padding-right: 10px;">
	 			<md-input-container style="margin-right: 20px;">
	          		<md-checkbox ng-model="workshop.isPaid" aria-label="Is paid checkbox">
						Is Paid?
					</md-checkbox>
	       		</md-input-container>
	       		<md-input-container ng-show="workshop.isPaid">
		            <label>Price</label>
		        	<input type="number" min="0.00" ng-model="workshop.price" ng-required="workshop.isPaid">
		        </md-input-container>
		        <md-input-container ng-show="workshop.isPaid">
					<label>Currency</label>
					<md-select ng-model="workshop.currency" ng-required="workshop.isPaid">
		              <md-option ng-value="item" ng-repeat="item in ['USD', 'PEN', 'EURO']">
		                {{item}}
		              </md-option>
		            </md-select>
				</md-input-container>				         
	     	</div> 
	     	
	     	<md-divider></md-divider> 
	     	
	     	<p class="color-3">Location(s)</p>
	     	<p class="color-1 font-size-2">Select the fab lab(s) where the workshop is going to happen.</p>
	     	<div class="md-padding custom-autocomplete" ng-cloak>			    
			    <md-chips ng-model="locations" md-autocomplete-snap
			              md-transform-chip="transformChip($chip)"
			              md-require-match="true">
			      <md-autocomplete
			          md-selected-item="selectedItem"
			          md-search-text="searchText"
			          md-items="item in querySearch2(searchText)"
			          md-item-text="item.name"
			          md-delay="300"
			          placeholder="Type fab lab name to autocomplete...">
			        <span md-highlight-text="searchText">{{item.name}}</span>
			      </md-autocomplete>
			      <md-chip-template>
			      	<span>			        
			          <strong>{{$chip.name}}</strong><span class="font-size-2"> {{$chip.address1 + ", " + $chip.city + ", " + $chip.country}}</span>			          
			        </span>		      
			      </md-chip-template>
			    </md-chips>
			    
			    <div style="color: rgb(221,44,0); margin-top: 5px;" class="font-size-2" ng-show="locations.length == 0">This is required.</div>
			</div>
	     	
	     	<md-divider></md-divider> 
	     	
	     	<p class="color-3">Coordinators</p>
	     	<p class="color-1 font-size-2">You are assigned by default as coordinator</p>
	     	<div class="md-padding custom-autocomplete" ng-cloak>
				<md-contact-chips
			        ng-model="coordinators"
			        md-contacts="querySearch($query)"
			        md-contact-name="fullName"
			        md-contact-image="imageUrl"
			        md-contact-email="email"
			        md-require-match="true"
			        md-highlight-flags="i"
			        filter-selected="true"
			        placeholder="Type to autocomplete...">
			    </md-contact-chips>
			</div>
			      
	     	<md-divider style="margin-top: 35px;"></md-divider>
	     	
	     	<p class="color-3">Collaborators</p>
	     	<div class="md-padding custom-autocomplete" ng-cloak>
				<md-contact-chips
			        ng-model="collaborators"
			        md-contacts="querySearch($query)"
			        md-contact-name="fullName"
			        md-contact-image="imageUrl"
			        md-contact-email="email"
			        md-require-match="true"
			        md-highlight-flags="i"
			        filter-selected="true"
			        placeholder="Type to autocomplete...">
			    </md-contact-chips>
			</div>
	     		
	     	</div>      
	    </md-dialog-content>
	    
	    <md-dialog-actions layout="row">
	      <md-button ng-click="cancel()">
	        Cancel
	      </md-button>
	      <span flex></span>
	      <md-button type="submit" class="md-raised md-accent" style="margin-right:20px;" md-autofocus ng-disabled="workshopForm.$invalid || locations.length == 0">
	        Submit
	      </md-button>
	    </md-dialog-actions>
	</form>
</md-dialog>