<md-dialog aria-label="New Project">
  <form name="projectForm" ng-submit="submit()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>New Project</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
        	<md-icon md-font-set="material-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    
    <md-dialog-content style="width:500px">
      <div class="md-dialog-content">
		<div layout="row">
 			<md-input-container flex="70">
	        	<label>Name</label>
	        	<input md-maxlength="100" required name="name" ng-model="project.name">
	        	
	        	<div ng-messages="projectForm.name.$error">
		          <div ng-message="required">This is required.</div>
		          <div ng-message="md-maxlength">The name has to be less than 100 characters long.</div>
		        </div>
	      	</md-input-container>	
	      	<md-input-container class="md-block" flex="30">
	            <label>Group</label>
	            <md-select ng-model="project.group.idGroup" required>
	              <md-option ng-repeat="item in groups" value="{{item.idGroup}}">
	                {{item.name}}
	              </md-option>
	            </md-select>
	        </md-input-container>
     	</div>  
     	<div layout="row">
 			<md-input-container class="md-block" flex>
          		<label>Description</label>
          		<textarea md-maxlength="1500" rows="4" name="description" required ng-model="project.description" md-select-on-focus></textarea>
          		
          		<div ng-messages="projectForm.description.$error">
		          <div ng-message="required">This is required.</div>
		          <div ng-message="md-maxlength">The name has to be less than 1500 characters long.</div>
		        </div>
       		</md-input-container>
     	</div>  
     	<div layout="row">
 			<md-input-container class="md-block">
	            <label>Reunion day</label>
	            <md-select ng-model="project.reunionDay">
	              <md-option ng-value="item" ng-repeat="item in ['MONDAY', 'TUESDAY', 'WEDNESDAY', 'THURSDAY', 'FRIDAY', 'SATURDAY', 'SUNDAY']">
	                {{item}}
	              </md-option>
	            </md-select>
	        </md-input-container>
	        <md-input-container class="md-block">
	            <label>Reunion time</label>
	            <md-select ng-model="project.reunionTime" >
	              <md-option ng-value="item" ng-repeat="item in ['0:00', '0.30', '1:00', '1:30', '2:00', '2:30', '3:00', '3:30', '4:00', '4:30', 
	              '5:00', '5:30', '6:00', '6:30', '7:00', '7:30', '8:00', '8:30', '9:00', '9:30', '10:00', '10:30', '11:00', '11:30', 
	              '12:00', '12:30', '13:00', '13:30', '14:00', '14:30', '15:00', '15:30', '16:00', '16:30', '17:00', '17:30', '18:00',
	              '18:30', '19:00', '19:30', '20:00', '20:30', '21:00', '21:30', '22:00', '22:30', '23:00', '23:30']">
	                {{item}}
	              </md-option>
	            </md-select>
	            <span class="font-size-2">Lima/Bogota/Quito, GMT-05:00</span>
	        </md-input-container>
     	</div>  
     	
     	</div>      
    </md-dialog-content>
    
    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">
        Cancel
      </md-button>
      <span flex></span>
      <md-button type="submit" class="md-raised md-accent" style="margin-right:20px;" ng-disabled="projectForm.$invalid">
        Submit
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>