<div ng-controller="PersonalDataCtrl">
	
	<section style="max-width: 70%; margin: auto;">
		<md-content layout-fill>
			<md-card>  			
				<md-card-content>					
					<div layout="row" layout-sm="column" layout-align="space-around" ng-show="loading1">
	    				<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	  				</div>
	  				
	  				<!-- <p class="color-1 font-size-3" ng-show="!loading1"><em>Note: Data fetched from fablabs.io</em></p> -->
		  				
					<div layout="row" ng-show="!loading1">
		  				<md-input-container flex>
				        	<label>Username</label>
				        	<input ng-model="fabber.username" disabled>
				      	</md-input-container>
				     	<md-input-container flex>
				        	<label>Email</label>
				        	<input ng-model="fabber.email" type="email" disabled>
				    	</md-input-container>	
			     	</div>
			     	
			     	<div layout="row" ng-show="!loading1">
		  				<md-input-container flex>
				        	<label>First Name</label>
				        	<input ng-model="fabber.firstName" disabled>
				      	</md-input-container>
				     	<md-input-container flex>
				        	<label>Last Name</label>
				        	<input ng-model="fabber.lastName" disabled>
				    	</md-input-container>	
			     	</div>
			     	
			     	<div layout="row" ng-show="!loading1">
		  				<md-input-container flex>
				        	<label>Lab associated</label>
				        	<input ng-model="fabber.labName" disabled>
				      	</md-input-container>
			     	</div>
			      	
			      	<div layout="row" ng-show="!loading1">
			      		<md-input-container style="margin-right: 20px;">
				           <md-checkbox ng-model="fabber.isFabAcademyGrad" aria-label="Checkbox 1">
					           Fab Academy graduated?
					       </md-checkbox>
				         </md-input-container>
				         <md-input-container ng-show="fabber.isFabAcademyGrad">
				           <label>Year</label>
				           <input ng-model="fabber.fabAcademyGradYear">
				         </md-input-container>
			      	</div>
			      	
			      	<md-button class="md-raised" ng-click="updateData()" ng-disabled="loading2">
                		Update data
                	</md-button>	
                	<span class="font-size-2 color-1">{{result}}</span>		
                </md-card-content>	        		 
			</md-card>
		</md-content>
	</section>
	
</div>