<md-tabs md-dynamic-height md-border-bottom>
            
      <md-tab label="All">
      		<md-content class="md-padding" ng-controller="ProjectsAllCtrl">
      	
	      		<section style="max-width: 75%; margin: auto;">
	          		<md-card>
						<md-card-content>
							<div layout="row" layout-sm="column" layout-align="space-around" ng-show="loading">
		    					<md-progress-circular md-mode="indeterminate"></md-progress-circular>
		  					</div>
		  					
		  					<div flex ng-cloak>
							    <md-grid-list ng-repeat="projectGroup in projects | groupBy:'groupName':'projectsByGroup'"
							        md-cols-xs="3" md-cols-sm="4" md-cols-md="5" md-cols-gt-md="5"
							        md-row-height-gt-md="1:1" md-row-height="1:1"
							        md-gutter="7px" md-gutter-gt-sm="9px" >
							        <p class="font-size-4 uppercase color-2" style="margin-bottom: 5px;">{{projectGroup.groupName}}</p>
								    <md-grid-tile ng-repeat="item in projectGroup.items">
								    	<div layout="column">								    		
										    <a ui-sref="projectDetail({idProject: item.idProject})">
												<project-avatar project="item" avatar-w="85" avatar-h="85"></project-avatar>
										    </a>
										    <div class="font-size-2 color-2 centered">{{item.membersCount}} {{item.membersCount > 1 ? "members" : "member"}}</div>
									    </div>
								    </md-grid-tile>						    
							  	</md-grid-list>
						  	</div>
	                    </md-card-content> 
					</md-card>	
	          	</section>
          	</md-content>
      </md-tab>
      
	<md-tab label="Your projects">
      	<md-content class="md-padding" ng-controller="ProjectManagerCtrl">
      		<h3 class="md-title inset-2">Projects that you coordinate</h3>
          
          	<section style="max-width: 70%; margin: auto;">
          		<md-button class="md-raised md-accent" ng-click="newProject($event)">
	            	New project
	            </md-button>
          		
				<md-card>
					<md-card-content>  		
						<div layout="row" layout-sm="column" layout-align="space-around" ng-show="loading1">
	    					<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	  					</div>
	  					
	  					<p class="centered font-size-3 color-1" ng-if="projects1.length === 0">No items to show.</p>
	  					
						<md-list class="md-dense" ng-cloak> 
						<md-list-item class="md-2-line secondary-button-padding" ng-repeat="item in projects1">
						    <div class="md-list-item-text" layout="column">
								<p><a ui-sref="projectDetail({idProject: item.idProject})" class="font-size-4 custom-anchor-1">{{item.name}}</a> <span class="font-size-2 color-1">{{item.lineName}}</span></p>
					            <h4>{{item.membersCount}} {{item.membersCount > 1 ? "members" : "member"}}</h4>
					        </div> 
						     					    
						    <md-menu class="md-secondary">
						      <md-button aria-label="Open settings interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
						        <md-icon md-font-set="material-icons">settings</md-icon>
						      </md-button>
						      <md-menu-content width="2">
						        <md-menu-item>
						          <md-button ng-click="leaveProject($event, item.idProject, $index)">					         
						            Leave project
						          </md-button>
						        </md-menu-item>
						        <md-menu-item>
						          <md-button ng-click="toggleNotifications(item.idProject, $index)">
						            {{item.notificationsEnabled ? 'Disable' : 'Enable' }} notifications
						          </md-button>
						        </md-menu-item>			       
						      </md-menu-content>
						    </md-menu> 
						     
						    <md-divider hide-sm ng-if="!$last"></md-divider>
							<md-divider hide-gt-sm ng-if="!$last"></md-divider>
						</md-list-item>
						</md-list>						
                    </md-card-content>  		 
				</md-card>
			</section>
			
			<h3 class="md-title inset-2">Projects in which you collaborate</h3>
          
          	<section style="max-width: 70%; margin: auto;">
          		<md-card>
					<md-card-content>
						<div layout="row" layout-sm="column" layout-align="space-around" ng-show="loading2">
	    					<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	  					</div>
	  					
	  					<p class="centered font-size-3 color-1" ng-if="projects2.length === 0">No items to show.</p>
	  					
						<md-list class="md-dense" ng-cloak> 
						<md-list-item class="md-2-line secondary-button-padding" ng-repeat="item in projects2">
						    <div class="md-list-item-text" layout="column">
								<p><a ui-sref="projectDetail({idProject: item.idProject})" class="font-size-4 custom-anchor-1">{{item.name}}</a> <span class="font-size-2 color-1">{{item.lineName}}</span></p>
					            <h4>{{item.membersCount}} {{item.membersCount > 1 ? "members" : "member"}}</h4>
					        </div>
					        					    
						    <md-menu class="md-secondary">
						      <md-button aria-label="Open settings interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
						        <md-icon md-font-set="material-icons">settings</md-icon>
						      </md-button>
						      <md-menu-content width="2">
						        <md-menu-item>
						          <md-button ng-click="leaveProject($event, item.idProject, $index)">					         
						            Leave project
						          </md-button>
						        </md-menu-item>
						        <md-menu-item>
						          <md-button ng-click="toggleNotifications(item.idProject, $index)">
						            {{item.notificationsEnabled ? 'Disable' : 'Enable' }} notifications
						          </md-button>
						        </md-menu-item>
						      </md-menu-content>
						    </md-menu> 
						     
						    <md-divider hide-sm ng-if="!$last"></md-divider>
							<md-divider hide-gt-sm ng-if="!$last"></md-divider>
						</md-list-item>
						</md-list> 
                    </md-card-content> 
				</md-card>	
          	</section>
				
			</md-content>
      </md-tab>
</md-tabs>
