<div class="md-padding" layout="column" flex ng-controller="SettingsPasswordCtrl">
	<div class="generic-container-1">
		<form class="custom-form" name="editPasswordForm" ng-submit="submit()">
			<div class="header md-subhead">
				Password settings
			</div>
			<div class="md-padding">
				<div layout-gt-sm="row" class="form-group">
					<label class="control-label" for="password" flex-gt-sm="20">Current password</label>
					<md-input-container md-no-float class="md-block" flex>
						<input type="password" id="password" ng-model="password" required aria-label="Current password">
					</md-input-container>
				</div>
				<div layout-gt-sm="row" class="form-group">
					<label class="control-label" for="new-password" flex-gt-sm="20">New password</label>
					<md-input-container md-no-float class="md-block" flex>
						<input type="password" id="new-password" ng-model="newPassword" required aria-label="New password">
					</md-input-container>
				</div>
				<div layout-gt-sm="row" class="form-group">
					<label class="control-label" for="confirm-password" flex-gt-sm="20">Confirm new password</label>
					<md-input-container md-no-float class="md-block" flex>
						<input type="password" id="confirm-password" ng-model="passwordConfirmation" required aria-label="Confirm new password">
					
						<span ng-if="newPassword !== passwordConfirmation" md-colors="{color: 'default-warn-800'}">Passwords do not match</span>
					</md-input-container>
				</div>
			</div>
			<div class="actions" layout="row">
				<span flex></span>
				<md-button class="md-primary md-raised" type="submit">Update password</md-button>
			</div>
		</form>
	</div>
</div>