<div class="md-padding" layout="column" flex>
	<div class="generic-container-1">
		<form class="custom-form">
			<div class="header md-subhead">
				Password settings
			</div>
			<div class="md-padding">
				<div layout-gt-sm="row" class="form-group">
					<label class="control-label" for="password" flex-gt-sm="20">Current password</label>
					<md-input-container md-no-float class="md-block" flex>
						<input type="password" id="password" ng-model="_user.password">
					</md-input-container>
				</div>
				<div layout-gt-sm="row" class="form-group">
					<label class="control-label" for="new-password" flex-gt-sm="20">New password</label>
					<md-input-container md-no-float class="md-block" flex>
						<input type="password" id="new-password" ng-model="_user.newPassword">
					</md-input-container>
				</div>
				<div layout-gt-sm="row" class="form-group">
					<label class="control-label" for="confirm-password" flex-gt-sm="20">Password confirmation</label>
					<md-input-container md-no-float class="md-block" flex>
						<input type="password" id="confirm-password" ng-model="_user.passwordConfirmation">
					</md-input-container>
				</div>
			</div>
			<div class="actions" layout="row">
				<md-button class="md-warn">Deactivate my account</md-button>
				<span flex></span>
				<md-button class="md-primary md-raised">Update settings</md-button>
			</div>
		</form>
	</div>
</div>