<div class="md-padding" layout="column" flex ng-controller="SubgroupMembersCtrl">
	<div class="generic-container-1">
		<div class="header" md-colors="{background: 'darkLightBlue-background-900'}" layout="row" layout-align="none center">
			<div class="title"><span class="bold">{{ subgroup.name }}</span> members:</div>
		</div>
		<div>
			<md-list class="list-type-1" dense flex>
				<md-list-item class="md-2-line" ng-repeat="item in subgroup.members">
		        	<div class="md-list-item-text compact">
		            	<h3>
		            		<a ui-sref="fabber.groups({ idFabber: item.fabberId })" class="custom-anchor-1 bold">{{ item.firstName + " " + item.lastName }}</a>
		            		<span class="badge-1" md-colors="{background: 'default-accent-300'}" ng-if="item.isCoordinator">coordinator</span>
		            	</h3>
		            	<p>joined <span am-time-ago="item.creationDateTime | UTCToNow"></span></p>
		          	</div>
		        	
					<md-menu md-position-mode="target-right target" class="md-secondary">
			      		<md-button class="md-icon-button" aria-label="more" ng-click="$mdMenu.open($event)">
				    		<md-icon md-font-set="material-icons">more_vert</md-icon>
				    	</md-button>
			        	<md-menu-content width="3">
			        		<md-menu-item ng-if="item.fabberId == user.id">
				            	<md-button ng-click="leave()">
				                	Leave subgroup
				              	</md-button>
			            	</md-menu-item>
			            	<md-menu-item ng-if="item.fabberId != user.id">
				            	<md-button ng-click="nameCoordinator(item)">
				                	Name as coordinator
				              	</md-button>
			            	</md-menu-item>
			            	<md-menu-item ng-if="item.fabberId != user.id">
				            	<md-button ng-click="removeMember($event, item)">
				                	Remove from subgroup 
				              	</md-button>
			            	</md-menu-item>
			      		</md-menu-content>
			      	</md-menu>
		        </md-list-item>
	        </md-list>
		</div>
	</div>

</div>