<div class="md-padding" layout="column" flex>
	<div class="generic-container-1">
		<div class="header md-subhead" layout="row" layout-align="none center" style="position: relative;">
			<div><span class="bold">DIYbio lab kit</span> upcoming workshops:</div>
			<span flex></span>
			<md-button ui-sref="subgroup.addWorkshop" class="md-raised md-accent" style="margin: 0; position: absolute; right: 15px;">New workshop</md-button>
		</div>
		<div>
			<md-list class="list-type-1" dense flex>
				<md-list-item class="md-2-line">
		          <div class="md-list-item-text compact">
		            <h3><a href="" class="custom-anchor-1 bold">Phagebot</a></h3>
		            <p> 31 de julio · 6pm · Fab Lab Lima · FREE</p>
		          </div>
		          <md-button class="md-secondary md-icon-button" ng-click="doSecondaryAction($event)" aria-label="more">
		          	<md-icon md-font-set="material-icons" aria-label="More">more_vert</md-icon>
		          </md-button>
		        </md-list-item>
		        <md-divider></md-divider>
		        <md-list-item class="md-2-line">
		          <div class="md-list-item-text compact">
		            <h3> Crea tu propio laboratorio </h3>
		            <p> 5 de agosto · 6pm - 8pm </p>
		          </div>
		          <md-button class="md-secondary md-icon-button" ng-click="doSecondaryAction($event)" aria-label="more">
		          	<md-icon md-font-set="material-icons" aria-label="More">more_vert</md-icon>
		          </md-button>
		        </md-list-item>
	        </md-list>
		</div>
	</div>

</div>