<div class="group-general-page md-padding" layout="column" flex ng-controller="SubgroupGeneralCtrl">
	<div class="header" layout="column" layout-align="center center">
		<div style="margin-bottom: 10px;">
			<group-avatar group="subgroup" avatar-w="65" avatar-h="65" avatar-font-size="26"></group-avatar>
		</div>
		<div>
			<h3>{{ subgroup.name }}</h3>
		</div>
		<div style="margin-bottom: 20px;">{{ subgroup.description }}</div>
	</div>
	<div class="info" ng-if="subgroup.reunionDay || subgroup.reunionTime || subgroup.mainUrl || subgroup.secondaryUrl">
		<div ng-if="subgroup.reunionDay || subgroup.reunionTime"><md-icon md-svg-icon="timetable" class="icon-16"></md-icon>Reunions: 
			<span ng-if="subgroup.reunionDay">{{ subgroup.reunionDay + "S - "}}</span>
			<span ng-if="subgroup.reunionTime">{{ subgroup.reunionTime }}</span>
		</div>
		<div ng-if="subgroup.mainUrl"><md-icon md-svg-icon="web" class="icon-16"></md-icon>Main URL: <a href="" class="custom-anchor-1">{{ subgroup.mainUrl }}</a></div>
		<div ng-if="subgroup.secondaryUrl"><md-icon md-svg-icon="web" class="icon-16"></md-icon>Secondary URL: <a href="" class="custom-anchor-1">{{ subgroup.secondaryUrl }}</a></div>
	</div>
	<div class="members">
		<div layout="row" layout-align="center center">
			<h4>Members</h4>
		</div>
		<md-divider></md-divider>
		<div flex layout="row" layout-wrap style="margin-top: 30px;">
			<div flex-gt-sm="15" flex="25" style="margin-bottom: 10px;" ng-repeat="item in subgroup.members">
				<a ui-sref="fabber({ idFabber: item.fabberId })">
					<user-avatar fabber="item" avatar-w="50" avatar-h="50" avatar-font-size="18"></user-avatar>
				</a>
				<div class="font-12 color-2 centered" style="margin-top: 5px;">{{ item.firstName + " " + item.lastName }}</div>
				<div class="centered" ng-if="item.isCoordinator"><span class="badge-2" md-colors="{background: 'darkLightBlue-background-700'}">coordinator</span></div>
			</div>
		</div>
	</div>
	<div class="subgroups">
		<div layout="row" layout-align="center center">
			<h4>Workshops</h4>
		</div>
		<md-divider></md-divider>
		<div layout="row" layout-align="center center" style="margin-top: 10px;">
			<md-button class="md-raised md-primary md-hue-1" ui-sref="subgroup.addWorkshop">New workshop</md-button>
		</div>
		<div ng-if="subgroup.workshops.length === 0" class="centered no-data-2" style="margin-top: 10px;">No workshops created yet.</div>
		<div class="workshop-list" flex layout="column" ng-if="subgroup.workshops.length > 0">
			<div layout="row" class="list-item" ng-repeat="item in subgroup.workshops">
				<div class="date uppercase" flex="15" layout="column" layout-align="center center" md-colors="{background: 'default-accent-400'}">
					<div class="day">{{ item.startDateDay }}</div>
					<div class="month uppercase">{{ item.startDateMonth }}</div>
					<div class="hour">{{ item.startTime }}</div>
				</div>
				<div class="description" flex="85" layout="column" layout-align="center auto">
					<a ui-sref="workshop.general({ idWorkshop: item.idWorkshop })" class="custom-anchor-1 font-16 bold workshop-name">{{ "#" + item.replicationNumber + ": " + item.name }}</a>
					<div class="font-13">
						<span ng-if="item.labName">{{ item.labName }} · </span>
						<span ng-if="!item.isPaid">Free</span>
						<span ng-if="item.isPaid">{{ item.price + " " + item.currency }}</span>
					</div>
				</div>
			</div>		
		</div>
	</div>
</div>