<div layout="column" ng-controller="WorkshopOutCtrl">
	<md-toolbar md-whiteframe="1" md-theme="neutral" class="md-hue-1">
    	<div class="md-toolbar-tools">
	    	<h2 md-truncate>
	    		<a ui-sref="groups" class="custom-anchor-1"><span>Groups</span></a>
	    		<span><md-icon md-font-set="material-icons">keyboard_arrow_right</md-icon></span>
	    		<a ui-sref="group.general({ idGroup: workshop.groupId })" class="custom-anchor-1"><span>{{ workshop.groupName }}</span></a>
	    		<span><md-icon md-font-set="material-icons">keyboard_arrow_right</md-icon></span>
	    		<a ui-sref="subgroup.general({ idSubgroup: workshop.subGroupId })" class="custom-anchor-1"><span>{{ workshop.subGroupName }}</span></a>
	    		<span><md-icon md-font-set="material-icons">keyboard_arrow_right</md-icon></span>
	    		<span class="uppercase">{{ workshop.name }}</span>
	    	</h2>
		</div>
	</md-toolbar>
	
	<div class="workshop-container-1">
		<div class="header" md-colors="{background: 'darkPurple-background-600'}" layout-align="none center">
			<div>
				<span>{{ "#" + workshop.replicationNumber }}</span>
				<h1 class="font-22 bold uppercase">{{ workshop.name }}</h1>
				<h2 class="font-15 font-weight-400 no-margin">from {{ workshop.groupName }}</h2>
			</div>
		</div>
		<md-divider></md-divider>
		<div class="section" flex>
			<md-icon md-font-set="material-icons" aria-label="Info" style="position: absolute;">info_outline</md-icon>
			<div class="section-header">
				<h2 class="font-16">Workshop details</h2>
			</div>
			<div class="font-14 section-content">
				<p style="margin-bottom: 20px; white-space: pre-wrap;">{{ workshop.description | decodeURIComponent }}</p>
				<span ng-if="workshop.facebookUrl">
					Follow the event on Facebook: 
					<a href="{{ workshop.facebookUrl }}" target="_blank" class="custom-anchor-1" md-colors="{color: 'accent-900'}">{{ workshop.facebookUrl }}</a>
				</span>
			</div>
		</div>
		<md-divider></md-divider>
		<div layout-gt-xs="row">
			<div class="section" flex>
				<md-icon md-font-set="material-icons" aria-label="Time" style="position: absolute;">schedule</md-icon>
				<div class="section-header">
					<h2 class="font-16">Time</h2>
				</div>
				<div class="font-14 section-content">
					<span ng-if="workshop.startDate === workshop.endDate">{{ workshop.startDateFormatted + " - " + workshop.endTime }}</span>
					<span ng-if="workshop.startDate !== workshop.endDate">{{ workshop.startDateFormatted }} - {{ workshop.endDateFormatted }}</span><br />
					<span>GMT-5 Lima/Bogotá</span>
				</div>
			</div>
			<md-divider></md-divider>
			<div class="section" flex>
				<md-icon md-font-set="material-icons" aria-label="Time" style="position: absolute;">place</md-icon>
				<div class="section-header">
					<h2 class="font-16">Location</h2>
				</div>
				<div class="font-14 section-content">
					<span ng-if="workshop.labName">{{ workshop.labName }}</span><br ng-if="workshop.labName" />
					<span ng-if="workshop.locationAddress">{{ workshop.locationAddress + " · " }}</span>
					<span ng-if="workshop.locationCity && workshop.locationCountry">{{ workshop.locationCity + ", " + workshop.locationCountry }}</span><br ng-if="workshop.locationCity && workshop.locationCountry" />
					<span ng-if="workshop.locationLatitude && workshop.locationLongitude"><a href="http://www.google.com/maps/place/{{ workshop.locationLatitude }},{{ workshop.locationLongitude }}" target="_blank" class="custom-anchor-1" md-colors="{color: 'accent-900'}">ver mapa</a></span>
				</div>
			</div>
		</div>
		<md-divider></md-divider>
		<div class="section" flex>
			<md-icon md-font-set="material-icons" aria-label="Cost" style="position: absolute;">attach_money</md-icon>
			<div class="section-header">
				<h2 class="font-16">Cost</h2>
			</div>
			<div class="font-14 section-content">
				<span ng-if="!workshop.isPaid">FREE</span>
				<span ng-if="workshop.isPaid">{{ workshop.price + " " + workshop.currency }}</span>
				<br />
				<span ng-if="workshop.ticketsUrl">
					Tickets available <a href="{{ workshop.ticketsUrl }}" target="_blank" class="custom-anchor-1" md-colors="{color: 'accent-900'}">here</a>.
				</span>
			</div>
		</div>
		<md-divider></md-divider>
		<div class="section" flex>
			<md-icon md-font-set="material-icons" aria-label="Tutor" style="position: absolute;">headset_mic</md-icon>
			<div class="section-header">
				<h2 class="font-16">Tutor(s)</h2>
			</div>
			<div class="font-14 section-content">
				<div class="tutor" ng-repeat="item in workshop.tutors">
					{{ item.firstName + " " + item.lastName }} <br />
					<span class="font-13"><i>{{ item.email }}</i></span>
				</div>	
			</div>
		</div>
		<md-divider></md-divider>
		<div class="section" flex style="padding-top: 10px; padding-bottom: 10px;">
			<md-button class="md-accent" href="http://www.google.com/calendar/event?
				action=TEMPLATE
				&text={{ workshop.name }}
				&dates={{ workshop.startDateTimeCalendar }}/{{ workshop.endDateTimeCalendar }}
				&details={{ workshop.description }}
				&location={{ workshop.labName ? workshop.labName + ' - ' : '' }} {{ workshop.locationAddress ? workshop.locationAddress + ', ' : '' }} {{ workshop.locationCity + ', ' }} {{ workshop.locationCountry }}
				&ctz=America/Lima" 
				target="_blank" rel="nofollow">Add to Google Calendar</md-button>
		</div>
	</div>
</div>