<div class="md-padding" layout="column" flex ng-controller="WorkshopGeneralCtrl" ng-cloak>
	<div class="workshop-container-1" >
		<div class="header" md-colors="{background: 'darkPurple-background-600'}" layout="row" layout-align="none center">
			<h1 class="font-20 bold">{{ "#" + workshop.replicationNumber + ": " + workshop.name }}</h1>
		</div>
		<md-divider></md-divider>
		<div class="section" flex>
			<md-icon md-font-set="material-icons" aria-label="Info" style="position: absolute;">info_outline</md-icon>
			<div class="section-header">
				<h2 class="font-16">Workshop details</h2>
			</div>
			<div class="font-14 section-content">
				<p style="margin-bottom: 20px;">{{ workshop.description }}</p>
				<span ng-if="workshop.facebookUrl">
					Follow the event on Facebook: 
					<a href="{{ workshop.facebookUrl }}" target="_blank" class="custom-anchor-1" md-colors="{color: 'accent-900'}">{{ workshop.facebookUrl }}</a>
				</span>
			</div>
		</div>
		<md-divider></md-divider>
		<div layout-gt-xs="row">
			<div class="section" flex>
				<md-icon md-font-set="material-icons" aria-label="Time" style="position: absolute;">schedule</md-icon>
				<div class="section-header">
					<h2 class="font-16">Time</h2>
				</div>
				<div class="font-14 section-content">
					<span ng-if="workshop.startDate === workshop.endDate">{{ workshop.startDateFormatted + " - " + workshop.endTime }}</span>
					<span ng-if="workshop.startDate !== workshop.endDate">{{ workshop.startDateFormatted }} - {{ workshop.endDateFormatted }}</span>
				</div>
			</div>
			<md-divider></md-divider>
			<div class="section" flex>
				<md-icon md-font-set="material-icons" aria-label="Time" style="position: absolute;">place</md-icon>
				<div class="section-header">
					<h2 class="font-16">Location</h2>
				</div>
				<div class="font-14 section-content">
					<span ng-if="workshop.labName">{{ workshop.labName }}</span><br ng-if="workshop.labName" />
					<span ng-if="workshop.locationAddress">{{ workshop.locationAddress + " - " }}</span>
					<span ng-if="workshop.locationCity && workshop.locationCountry">{{ workshop.locationCity + ", " + workshop.locationCountry }}</span><br ng-if="workshop.locationCity && workshop.locationCountry" />
					<span ng-if="workshop.locationLatitude && workshop.locationLongitude"><a href="http://www.google.com/maps/place/{{workshop.locationLatitude}},{{workshop.locationLongitude}}" target="_blank" class="custom-anchor-1" md-colors="{color: 'accent-900'}">ver mapa</a></span>
				</div>
			</div>
		</div>
		<md-divider></md-divider>
		<div class="section" flex>
			<md-icon md-font-set="material-icons" aria-label="Cost" style="position: absolute;">attach_money</md-icon>
			<div class="section-header">
				<h2 class="font-16">Cost</h2>
			</div>
			<div class="font-14 section-content">
				<span ng-if="!workshop.isPaid">FREE</span>
				<span ng-if="workshop.isPaid">{{ workshop.price + " " + workshop.currency }}</span>
				<br />
				<span ng-if="workshop.ticketsUrl">
					Tickets available at <a href="{{ workshop.ticketsUrl }}" target="_blank" class="custom-anchor-1" md-colors="{color: 'accent-900'}">Eventbrite</a>.
				</span>
			</div>
		</div>
		<md-divider></md-divider>
		<div class="section" flex>
			<md-icon md-font-set="material-icons" aria-label="Tutor" style="position: absolute;">headset_mic</md-icon>
			<div class="section-header">
				<h2 class="font-16">Tutor(s)</h2>
			</div>
			<div class="font-14 section-content">
				<div class="tutor" ng-repeat="item in workshop.tutors">
					{{ item.firstName + " " + item.lastName }} <br />
					<span class="font-13"><i>{{ item.email }}</i></span>
				</div>	
			</div>
		</div>
		<md-divider></md-divider>
		<div class="section" flex style="padding-top: 10px; padding-bottom: 10px;">
			<md-button class="md-accent" ng-click="">Add to Google Calendar</md-button>
		</div>
	</div>
</div>