<div class="md-padding" layout="column" flex>
	<div class="generic-container-1">
		<div class="header md-subhead" layout="row" layout-align="auto center">
			<div>Workshop tutors:</div>
		</div>
		<div>
			<md-list class="list-type-1" dense flex>
				<md-list-item class="md-2-line">
		          <div class="md-list-item-text compact">
		            <h3><a href="" class="custom-anchor-1 bold">Carlos Venegas</a></h3>
		            <p>cvj_2311@hotmail.com</p>
		          </div>
		          <md-button class="md-secondary md-icon-button" ng-click="doSecondaryAction($event)" aria-label="more">
		          	<md-icon md-font-set="material-icons" aria-label="More">more_vert</md-icon>
		          </md-button>
		        </md-list-item>
		        <md-divider></md-divider>
		        <md-list-item class="md-2-line">
		          <div class="md-list-item-text compact">
		            <h3>Luis Flores</h3>
		            <p>lefolindo@gmail.com</p>
		          </div>
		          <md-button class="md-secondary md-icon-button" ng-click="doSecondaryAction($event)" aria-label="more">
		          	<md-icon md-font-set="material-icons" aria-label="More">more_vert</md-icon>
		          </md-button>
		        </md-list-item>
		        <md-divider></md-divider>
		        <md-list-item class="md-2-line">
		          <div class="md-list-item-text compact">
		            <h3> Carlos Venegas </h3>
		            <p>  </p>
		          </div>
		          <md-button class="md-secondary md-icon-button" ng-click="doSecondaryAction($event)" aria-label="more">
		          	<md-icon md-font-set="material-icons" aria-label="More">more_vert</md-icon>
		          </md-button>
		        </md-list-item>
		        <md-divider></md-divider>
		        <md-list-item class="md-2-line">
		          <div class="md-list-item-text compact">
		            <h3> Carlos Venegas </h3>
		            <p> Joined 2 days ago </p>
		          </div>
		          <md-button class="md-secondary md-icon-button" ng-click="doSecondaryAction($event)" aria-label="more">
		          	<md-icon md-font-set="material-icons" aria-label="More">more_vert</md-icon>
		          </md-button>
		        </md-list-item>
	        </md-list>
		</div>
	</div>

</div>