<md-tabs md-dynamic-height md-border-bottom>
      
      <md-tab label="General">
        <md-content class="md-padding" ng-controller="WorkshopDetailCtrl">
			<div layout="row" layout-sm="column" layout-align="space-around" ng-show="loading">
    			<md-progress-circular md-mode="indeterminate"></md-progress-circular>
  			</div>
			
			<section ng-show="!loading" class="inset-2">
				<h3 class="md-display-2 inset-2 color-1" style="margin-bottom: 0; margin-top: 20px;">WORKSHOP</h3>
				
				<div layout="row" class="inset-2">
					<h4 class="md-headline" style="margin-top: 0;">{{workshop.projectName}} - Replication {{workshop.replicationNumber}}</h4>
					
					<md-menu style="margin-top: -4px;" ng-if="isWorkshopMember">
				      <md-button aria-label="Open settings interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
				        <md-icon md-font-set="material-icons">settings</md-icon>
				      </md-button>
				      <md-menu-content width="4">
				      	<md-menu-item ng-if="isCoordinator">
				      	  <md-button ng-click="editConfiguration($event, workshop.idWorkshop)">					         
				            Edit workshop configuration
				          </md-button>
				        </md-menu-item>
				        <md-menu-item>
				          <md-button ng-click="leaveWorkshop($event, workshop.idWorkshop)">					         
				            Leave workshop
				          </md-button>
				        </md-menu-item>
				        <md-menu-item>
				          <md-button ng-click="toggleNotifications(workshop.idWorkshop)">
				            {{item.notificationsEnabled ? 'Disable' : 'Enable' }} notifications
				          </md-button>
				        </md-menu-item>			       
				      </md-menu-content>
				    </md-menu> 
				 </div>
				 
				 <md-button class="md-raised md-accent" ng-if="isProjectMember && !isWorkshopMember" ng-click="joinWorkshop()" style="float: right;">
					Join the workshop
				</md-button>
			</section>
			
			<section style="max-width: 70%; margin: auto;" ng-show="!loading">
				<md-content layout-fill>
					<md-card>
						<md-card-content>
							<h4 class="font-size-3 color-1" style="margin-top: 0; font-weight: normal;">General</h4>
							
							<div layout="column" flex ng-cloak>
								<div style="margin-bottom: 5px;">
									<md-icon md-font-set="material-icons" aria-label="Date and time">schedule</md-icon> {{workshop.dateTime}} hrs.
								</div>
							    <div style="margin-bottom: 5px;">
							    	<md-icon md-font-set="material-icons" aria-label="Price">attach_money</md-icon> {{workshop.isPaid ? workshop.price + " " + workshop.currency : "FREE"}}
							    </div>
							    <div style="margin-bottom: 5px;" ng-repeat="item in workshop.locations">
							    	<md-icon md-font-set="material-icons" aria-label="Location">place</md-icon>
							    	<span>{{item.name + ", " + item.address1 + ", " + item.city + ", " + item.country}}</span>
							    </div>
						 	</div>						    
						</md-card-content>
					</md-card>				
				</md-content>
			</section>
			
			<section style="max-width: 70%; margin: auto;" ng-show="!loading">
				<md-content layout-fill>
					<md-card>
						<md-card-content>
							<h4 class="font-size-3 color-1" style="margin-top: 0; font-weight: normal;">Coordinators</h4>
							
							<div flex ng-cloak>
							    <md-grid-list
							        md-cols-xs="3" md-cols-sm="4" md-cols-md="5" md-cols-gt-md="5"
							        md-row-height-gt-md="1:1" md-row-height="1:1"
							        md-gutter="10px" md-gutter-gt-sm="7px" >
								    <md-grid-tile ng-repeat="item in workshop.coordinators">
									    <div style="position: relative;">
									    	<md-menu class="menu-custom-1" ng-if="isWorkshopMember && isCoordinator && item.idFabber != user.id">
										      <md-button aria-label="More" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
										        <md-icon md-font-set="material-icons">more_vert</md-icon>
										      </md-button>
										      <md-menu-content width="2">
										      	<md-menu-item>
										      	  <md-button ng-click="deleteFromWorkshop(item.idFabber, $index, true)">					         
										            Delete from workshop
										          </md-button>
										        </md-menu-item>	       
										      </md-menu-content>
										    </md-menu>
									    
										    <a ui-sref="fabberDetail({idFabber: item.idFabber})">
												<user-avatar fabber="item" avatar-w="60" avatar-h="60"></user-avatar>
										    </a>
										    <div class="font-size-3 color-2 centered">{{item.firstName}} {{item.lastName}}</div>
										</div>
								    </md-grid-tile>						    
							  </md-grid-list>
						  </div>						    
						</md-card-content>
					</md-card>				
				</md-content>
			</section>
			
			<section style="max-width: 70%; margin: auto;" ng-show="!loading">
				<md-content layout-fill>
					<md-card>
						<md-card-content>
							<h4 class="font-size-3 color-1" style="margin-top: 0; font-weight: normal;">Collaborators</h4>
							
							<div flex ng-cloak>
							    <md-grid-list
							        md-cols-xs="3" md-cols-sm="4" md-cols-md="5" md-cols-gt-md="5"
							        md-row-height-gt-md="1:1" md-row-height="1:1"
							        md-gutter="10px" md-gutter-gt-sm="7px" >
								    <md-grid-tile ng-repeat="item in workshop.collaborators">
									    <div style="position: relative;">
									    	<md-menu class="menu-custom-1" ng-if="isWorkshopMember && isCoordinator">
										      <md-button aria-label="More" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
										        <md-icon md-font-set="material-icons">more_vert</md-icon>
										      </md-button>
										      <md-menu-content width="2">
										      	<md-menu-item>
										      	  <md-button ng-click="deleteFromWorkshop(item.idFabber, $index, false)">					         
										            Delete from workshop
										          </md-button>
										        </md-menu-item>	
										        <md-menu-item>
										          <md-button ng-click="nameAsCoordinator(item.idFabber, $index)">					         
										            Name as coordinator
										          </md-button>
										        </md-menu-item>       
										      </md-menu-content>
										    </md-menu>
									    
										    <a ui-sref="fabberDetail({idFabber: item.idFabber})">
												<user-avatar fabber="item" avatar-w="60" avatar-h="60"></user-avatar>
										    </a>
										    <div class="font-size-3 color-2 centered">{{item.firstName}} {{item.lastName}}</div>
										</div>
								    </md-grid-tile>						    
							  </md-grid-list>
						  </div>
						</md-card-content>
					</md-card>				
				</md-content>
			</section>
		</md-content>
      </md-tab>
      
      <!-- <md-tab label="Board">
        <md-content class="md-padding">
        	
        	<h3 class="md-title inset-2">Board</h3>
        	
        	<section style="max-width: 70%; margin: auto;">
	        	
	        	<md-card>
					<md-card-content>  		
						
	  					
						
	                </md-card-content>  		 
				</md-card>
			</section>
        </md-content>
      </md-tab> -->
</md-tabs>		
