html {
	text-rendering: optimizeLegibility;
}

#main-toolbar {
	box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
}

[ng-click]:hover {
	cursor: pointer;
}

.list-unstyled {
	list-style: none;
}

#main-navbar {
	display: flex;
	color: #006064;
	text-transform: uppercase;
}

#main-navbar li {
	display: block;
}

#main-navbar li a { 
	display: block;
	line-height: 64px;
	font-size: 15px;
	opacity: .8;
	padding-left: 15px;
	padding-right: 15px;
}

#main-navbar li a.active {
	opacity: 1;
	background-color: rgba(0, 96, 100, 0.4);
	color: rgba(255, 255, 255, .87);
}

#main-navbar li a:hover {
	opacity: 1;
	background-color: rgba(0, 96, 100, 0.1);
}

#left-sidenav {
	width: 240px !important;
	background-color: #BDBDBD !important;
}

#left-sidenav md-content {
	background-color: #c6c6c6 !important;
}

#left-sidenav #left-sidenav-menu {
	background-color: #c6c6c6 !important;
}

#left-sidenav #left-sidenav-menu .active {
	background-color: rgba(158, 158, 158, 0.2);
}


/* fade animation */
.animate-show {
	transition: 0.75s ease-out opacity;
	opacity: 1;
}

.animate-show.ng-hide {
	height: 0;
	min-height: 0;
	opacity: 0;
	overflow: hidden;
}

.logo {
	text-decoration: none;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px 0 15px;
	margin: 0 auto;
}

.logo > img {
	height: 100px;
	width: auto;
	display: block;
	margin-bottom: 15px;
	margin-top: 15px;
	transform-origin: 50% 0;
	transform: scale(1.2);
}

.logo h1 {
	color: #ffffff;
}

.main-content {
	color: #424242;
}

/*** Special classes ***/
.inset {
	padding-left: 10%;
}

.inset-2 {
	padding-left: 7%;
	padding-right: 15%;
}

.uppercase {
	text-transform: uppercase;
}

.bold {
	font-weight: 500;
}

.bolder {
	font-weight: 600;
}

.centered {
	text-align: center;
}

.font-10 {
	font-size: 10px !important;
	line-height: 13px !important;
}

.font-11 {
	font-size: 11px !important;
	line-height: 14px !important;
}

.font-12 {
	font-size: 12px !important;
	line-height: 15px !important;
}

.font-13 {
	font-size: 13px !important;
	line-height: 16px !important;
}

.font-14 {
	font-size: 14px !important;
	line-height: 17px !important;
}

.font-15 {
	font-size: 15px !important;
	line-height: 18px !important;
}

.font-16 {
	font-size: 16px !important;
	line-height: 19px !important;
}

.font-17 {
	font-size: 17px !important;
	line-height: 20px !important;
}

.font-18 {
	font-size: 18px !important;
	line-height: 21px !important;
}

.font-20 {
	font-size: 20px !important;
	line-height: 24px !important;
}

.icon-16 {
	width: 20px !important;
	height: auto;
}

.icon-25 {
	width: 50px;
	height: auto;
}

.color-1 {
	color: #a4a4a4; /* light gray */
}

.color-2 {
	color: #808080; /* medium gray */
}

.color-3 {
	color: #5f5f5f; /* dark gray */
}

.color-4 {
	color: #E65100;
}

.badge-1 {
	font-weight: 300;
	font-size: 12px;
	color: #fff;
	border-radius: 3px;
	padding: 4px 6px;
	margin-left: 7px;
}

.badge-2 {
	font-weight: 300;
	font-size: 11px;
	color: #fff;
	border-radius: 3px;
	padding: 2px 3px;
}

.no-data-1 {
	font-size: 12px;
	line-height: 16px;
	opacity: 0.7;
}

.no-data-2 {
	font-size: 14px;
	line-height: 17px;
	opacity: 0.7;
	color: #9E9E9E;
}

.no-data-3 {
	font-size: 16px;
	line-height: 20px;
	opacity: 0.7;
	color: #9E9E9E;
}

.custom-button-1 {
	letter-spacing: normal;
	margin: 0;
}

.custom-anchor-1 {
	text-decoration: none;
	color: inherit;
}

.custom-anchor-1:hover {
	text-decoration: underline;
	color: inherit;
}

.custom-card-1 {
	border-radius: 0 !important; 
	height: 83px;
	padding: 5px;
}

/*************/

.title-section {
	font-size: 17px;
	line-height: 23px;
	text-transform: uppercase;
	color: #616161;
	font-weight: 500;
}

/* dashboard.groups.html */
.custom-card-2 {
	transition: box-shadow .15s;
}

.custom-card-2:hover {
	box-shadow: 0 4px 20px 0 rgba(168,182,191,.6);
}

.custom-card-2 md-card-header {
	padding: 15px;
}

.custom-card-2 md-card-header md-card-header-text a.group-name {
	margin-bottom: 3px;
}

.custom-card-2 md-card-content md-list md-list-item {
	height: 31px;
	min-height: 31px !important; 
	padding-top: 5px; 
	padding-bottom: 5px;
}

.custom-card-2 md-card-content {
	padding: 5px 10px;
}
/***********/

/* dashboard.general-activity.html */
md-list.list-activities {
	background-color: #fff;
}

md-list.list-activities md-list-item:not(:last-child) {
	border-bottom: 1px solid #E0E0E0;
}

md-list.list-activities md-list-item .md-list-item-text.compact {
	margin-top: 10px;
	margin-bottom: 10px;
}

md-list.list-activities md-list-item .md-list-item-text.compact user-avatar {
	margin-right: 15px;
}

md-list.list-activities md-list-item .md-list-item-text h3 {
	font-size: 15px;
	line-height: 19px;	
}

md-list.list-activities md-list-item .md-list-item-text p {
	font-size: 13px;
	line-height: 17px;
}

md-list.list-activities md-list-item .md-list-item-text h3,
md-list.list-activities md-list-item .md-list-item-text p {
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

md-list.list-activities md-list-item.md-2-line,
md-list.list-activities md-list-item.md-2-line::before {
	min-height: auto !important;
}
/***********/

/* Groups and SubGroups in groups.html */
.custom-card-4 {
	transition: box-shadow .15s;
}

.custom-card-4:hover {
	box-shadow: 0 4px 20px 0 rgba(168,182,191,.6);
}

.custom-card-4 md-card-content {
	padding: 10px;
	background-color: white;
}

.custom-card-4 md-card-content h3 {
	color: #757575 !important;
}

.custom-card-4 md-card-content p {
	color: #9E9E9E !important;
}

.custom-card-4 md-card-content md-list md-list-item {
	height: 31px;
	min-height: 31px !important; 
	padding-top: 5px; 
	padding-bottom: 5px;
}
/***********/

/* group.html */
.custom-card-5 md-card-header .md-title {
	font-size: 14px !important;
	line-height: 17px !important;

	/* for showin ellipsis */
	overflow: hidden;
   	text-overflow: ellipsis;
   	display: -webkit-box;
   	max-height: 17px;      /* fallback */
   	-webkit-line-clamp: 1; /* number of lines to show */
   	-webkit-box-orient: vertical;
}

.custom-card-5 md-card-header {
	padding: 10px;
}
/******/

#autocomplete-groups input {
    background: url(../images/ic_search_grey_24px.svg);
    background-repeat: no-repeat;
    background-position: 6px 8px;
    padding: 0px 35px;
}

.autocomplete-groups-template .item-metadata {
	display: block;
	line-height: 2;
}

.autocomplete-groups-template .item-title md-icon {
	height: 18px;
	width: 18px;
}

#autocomplete-locations,
#autocomplete-maps,
#autocomplete-labs {
	background: none !important
}

#autocomplete-locations md-autocomplete-wrap,
#autocomplete-maps md-autocomplete-wrap,
#autocomplete-labs md-autocomplete-wrap {
	box-shadow: none;
}

button.aux-button-1 {
	text-transform: uppercase;
	border: none;
	border-radius: 2px;
	background-color: #F5F5F5;
	font-size: 10px;
	font-weight: 500;
	color: #757575;
	padding: 0 15px;
	height: 30px;
}

button.aux-button-1:hover {
	background-color: #E0E0E0;
}

button.aux-button-1 md-icon {
	color: #757575;
	font-size: 16px;
	padding-top: 5px;
}

span.aux-tag-1 {
	text-transform: uppercase;
	border: 1px solid #9E9E9E;
	border-radius: 3px;
	font-size: 10px;
	font-weight: 500;
	color: #9E9E9E;
	height: 20px;
	padding: 8px 5px 0;
}

nav.custom-sidenav-1 {
	padding: 20px 150px 20px 20px;
	background-color: #EEEEEE;
	margin-right: 15px;
}

nav.custom-sidenav-1 ul {
	list-style-type: none;
	padding: 0 ;
	margin: 0;
}

nav.custom-sidenav-1 ul li {
	font-size: 14px;
	line-height: 22px;
}

nav.custom-sidenav-1 ul li a.active {
	color: #03A9F4;
	font-weight: 500;
}

/*** group.html ***/
div.group-general-page div.header {
	margin-top: 20px;
	margin-bottom: 20px;
}

div.group-general-page div.info,
div.group-general-page div.members,
div.group-general-page div.subgroups {
	margin-top: 40px;
	margin-bottom: 60px;
}

div.group-general-page div.header h3 {
	margin: 0 0 10px 0;
	font-size: 40px;
	line-height: 45px;
	font-weight: 400;
}

div.group-general-page div.members h4,
div.group-general-page div.subgroups h4 {
	font-size: 20px;
	line-height: 24px;
	font-weight: 300;
	margin: 0;
}
/******/

/*** group.management.general.html ***/
div.generic-container-1 {
	border: 1px solid #E0E0E0;
	border-radius: 3px;
}

div.generic-container-1 div.header {
	background-color: #EEEEEE;
	padding: 15px;
}

div.generic-container-1 div.header .title {
	font-weight: 400;
	letter-spacing: .01em;
	font-size: 17px;
	line-height: 25px;
}

div.generic-container-1 div.actions {
	padding: 10px;
}

label.control-label {
	display: inline-block;
	text-align: right;
	margin-right: 20px;
	font-size: 14px;
	line-height: 27px;
	font-weight: 500;
}

.custom-form div.form-group {
	margin-bottom: 30px;
	font-size: 14px;
	line-height: 20px;
}

.custom-form div.form-group md-input-container {
	margin: 0 !important;
}

.custom-form div.form-group md-input-container .hint {
	font-size: 12px;
	line-height: 16px;
}

.custom-form div.form-group md-input-container input,
.custom-form div.form-group md-input-container textarea {
	border: 1px solid rgba(0,0,0,0.12);
	border-radius: 2px;
}

.custom-form div.form-group md-input-container md-select {
	font-size: 12px !important;
	line-height: 16px !important;
}
/******/

/*** group.management.members.html, group.management.subgroups.html ***/
md-list.list-type-1 md-list-item:not(:last-child) {
	border-bottom: 1px solid #E0E0E0;
}

md-list.list-type-1 md-list-item .md-list-item-text.compact {

}

md-list.list-type-1 md-list-item .md-list-item.text h3,
md-list.list-type-1 md-list-item .md-list-item.text p {
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

md-list.list-type-1 md-list-item.md-2-line,
md-list.list-type-1 md-list-item.md-2-line::before {
	min-height: auto !important;
}
/******/

/*** subgroup.general.html ***/
div.workshop-list {
	border: 1px solid #E0E0E0;
}

div.workshop-list div.list-item:not(:last-child) {
	border-bottom: 1px solid #E0E0E0;
}

div.workshop-list .list-item .date {
	padding: 5px;
}

div.workshop-list .list-item .description {
	padding: 5px 15px;
	background-color: #fff;
	color: #616161;
}

div.workshop-list .list-item .description .workshop-name {
	color: #424242;
	margin-bottom: 2px;
}
	
div.workshop-list .list-item .day {
	font-size: 22px;
	line-height: 27px;
	font-weight: 600;
}

div.workshop-list .list-item .month {
	font-size: 12px;
	line-height: 16px;
	font-weight: 400;
}

div.workshop-list .list-item .hour {
	font-size: 12px;
	line-height: 16px;
	font-weight: 400;
}
/******/

/*** workshop.general.html  ****/
.workshop-container-1 {
	border: 1px solid #E0E0E0;
	border-radius: 3px;
}

.workshop-container-1 div.header {
	background-color: #D4E157;
	padding: 30px;
}

.workshop-container-1 div.header h1 {
	margin: 0;
}

.workshop-container-1 div.section {
	padding: 30px;
	position: relative;
}

.workshop-container-1 div.section md-icon {
	position: absolute;
}

.workshop-container-1 div.section .section-header {
	padding-left: 30px;
	margin-bottom: 15px;
}

.workshop-container-1 div.section .section-header h2 {
	margin: 3px;
}

.workshop-container-1 div.section .section-content {
	padding-left: 30px;
}

.workshop-container-1 div.section .section-content .tutor {
	margin-bottom: 15px;
}
/******/





















/* avatars */

.user-avatar-1 {
	text-decoration: none;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.user-avatar-1 > img {
	height: 40px;
	width: auto;
	border-radius: 100%;
	display: block;
	transform-origin: 50% 0;
	transform: scale(1.2);
}

/* for custom avatars */

.generic-avatar {
	position: relative;
	margin: 0 auto;
}

.avatar-circle {
	display: block;
	width: 100%;
	height: 100%;
	background: transparent;
	border-radius: 100%;
	margin: 0 auto;
}

.name {
	display: block;
	width: 100%;
	overflow: hidden;
	margin: auto;
	position: absolute;
	left: 50%;
	top: 50%;
  	transform: translate(-50%,-50%);
	color: #fff;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
}

.img-avatar {
	top: 1px;
	background-size: contain;
	border-radius: 100%;
	position: absolute;
}

.menu-custom-1 {
	position: absolute;
	right: 0;
	top: -20px;
	padding: 0;
}

.menu-custom-1 > .md-button {
	padding: 0;
	margin: 0;
	width: auto;
}


/********* Breakpoints **********/

@media only screen and (min-width: 320px) and (max-width: 479px) { 
	
}

@media only screen and (min-width: 480px) and (max-width: 767px) { 
	
}

@media only screen and (min-width: 768px) and (max-width: 991px) { 

}

@media only screen and (min-width: 992px) {
	
}